<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Por color</a></li>
            <li><a href="/">Por marca</a></li>
        </ul>

        <article>
            <img src="/images/fondo.jpeg" alt="" width="50px">
        </article>
    </nav>
</header>